<h1>Agregar una nueva película</h1>
<form action="/add" method="POST">
    <div class="form-group">
        <input type="text" name="nombre" id="nombre" 
        class="form-control form-control-lg"
        placeholder="Agregar una película">
    </div>
    <input type="submit" value="Agregar" class="btn btn-dark btn-lg">
    <a href="/" class="btn btn-danger btn-lg">Volver a Películas</a>
</form>