<h1>Listado de Películas</h1>
<form action="/search" method="POST">
    <div class="form-group">
        <input type="text" name="title" id="title" 
        class="form-control form-control-lg"
        placeholder="Ingresar nombre de película">
    </div>
    <input type="submit" value="Buscar" class="btn btn-dark btn-lg">
</form>
<ul class="list-group">
    <% movies.forEach(movie => { %>
        <li class="list-group-item">
            <%= movie.title %> - <%= movie.year %>
        </li>
        <p>
            <%= movie.plot %>
        </p>
    <% }); %>
</ul>