<h1>Pelicula Encontrada</h1>
<% movies.forEach(movie => { %>
    <p style="border: 1px solid gray;" id="movietitle">
        <%= movie.title %>
    </p>
    <p style="border: 1px solid gray;">
        <%= movie.year %>
    </p>
    <p style="border: 1px solid gray;">
        <%= movie.director %>
    </p>
    <p style="border: 1px solid gray;">
        <%= movie.actors %>
    </p>
    <p style="border: 1px solid gray;">
        <%= movie.plot %>
    </p>
<% }); %>